<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1536440136628-849c177e76a1?q=80&w=2825&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
  <div class="container">
    <h1>Discover Lara's <strong>best movies</strong> list</h1>
    <p>Browse by type of movies to find the best movies ever, feel free to add a bookmark in the list and comment 😊 </p>
  </div>
</div>

<div class="container mt-5 pt-5">
  <div class="card-container">
    <% @lists.each do |list| %>
      <div class="card-category"
        style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= !list.photo.attached? ? "https://res.cloudinary.com/dcequpnjy/image/upload/v1700219036/v9htgpgnpajslhodxgtb.jpg" : cl_image_path(list.photo.key, height: 300, crop: :fill) %>')">
        <h4><%= link_to list.name, list_path(list) %></h4>
      </div>
    <% end %>
  </div>
</div>
